<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
          
    <!--18-05-2025: Redirect HTTP to HTTPS-->  
    <rewrite>
     <rules>
        <rule name="RedirectToHTTPS" stopProcessing="true">
        <match url="(.*)" />
        <conditions>
          <add input="{HTTPS}" pattern="off" ignoreCase="true" />
        </conditions>
        <action type="Redirect" url="https://{SERVER_NAME}/{R:1}" redirectType="Permanent" />
        </rule>
      </rules>
     </rewrite>
    
           
    <!--18-05-2025: Custom HTTP Errors - Redirect to Umbraco Routes / Pages -->
    <httpErrors errorMode="Custom" existingResponse="Replace">
      <clear/>
       
      <!--TESTING-->
      <!--<error
        statusCode="404"
        path="503.html"
        responseMode="File"/>-->
      
     <error statusCode="404" path="/404/" responseMode="ExecuteURL"/>
     
      <error
        statusCode="500"
        path="500.html"
        responseMode="File"/>
      
       <error
        statusCode="503"
        path="503.html"
        responseMode="File"/>
      
    </httpErrors>
      
     <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
   
    <aspNetCore processPath=".\MvcUmbraco.exe" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />
    
     <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
      </customHeaders>
    </httpProtocol>
    <security>
      <requestFiltering removeServerHeader="true" />
    </security>
   
    <!--22-05-2025: Trying to spped up the slow initial page load / cold start -->
    <!--22-05-2025: Note: IIS seems to ignore the setting -->
    <!--As an alternative to the below code prevent cold start by a cron job every few minutes-->
    <!--<applicationInitialization doAppInitAfterRestart="true" skipManagedModules="true" remapManagedRequestsTo="loading.html">
      <add initializationPage="/" hostName="umb.persteenolsen.com"/>
   </applicationInitialization>-->
            
    </system.webServer>
  </location>
</configuration>